div{
    width:400px;
    margin:20px auto;
    background-color: #eee !important;
    font-size: 20px !important;
    border:none !important;
    color:#eee !important;
    position: relative;
    /* text-align: center; */
      
}
div::before{
    content: "Elzero";
    color:black;
    position: absolute;

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    left: 193.907px;
    


}
