.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
    gap: 20px;

  }
  .grid div{
    background-color: #e91e63;
    color: white;
    display: grid;
    font-weight: bold;
    justify-content: center;
    align-content: center;
  }