*{ 
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div.layout{
    width: 100%;
   height: 100vh; 
   margin: auto;
   display: grid;
   grid-template-rows: 1fr 8fr 1fr;
   grid-template-areas: 'h h h h'
                        's s s a'
                        'f f f f';
    outline: 1px solid black;
    outline-offset: 5px;
}

header{
    background-color: #03a9f4;
    grid-area: h;
    padding: 10px;   
}
section{
    background-color: #ff5722;
    grid-area: s;
    padding: 10px;
}
aside{
    background-color: #607d8b;
    grid-area: a;
    padding: 10px;
}
footer{
    background-color: #009688;
    grid-area: f;
    padding: 10px;
}
header::before{
    content: "Header";
}
aside::before{
    content: "aside";
}

footer::before{
    content: "footer";
}
section::before{
    content: "section";
}
