.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;

    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto ;
    gap: 15px;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .grid div{
      background-color: #403f3f;
      color: white;
      font-weight: bold;
      display: grid;
      justify-content: center;
      align-content: center;

  }