/* open this link about border-image */
/* https://www.digitalocean.com/community/tutorials/css-gradient-borders-pure-css */

*{
    box-sizing: border-box;
}

div{
    width:600px;
    margin:25% auto;
    background-color: #eeeeee;
    padding: 10px;
    outline: 2px solid #cccccc;
    outline-offset: 20px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;

    border-width: 10px; 
    border-style: solid; 
    border-image:linear-gradient(
    to right ,
    #f44336 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    #673ab7 80%
) 1; /* 1 --> refer to image-slice */
}

div::first-letter{
    color: #f44336;
}
