/* block element */
.c1{
    background-color: #eee;
    padding: 2%;
    margin: 2%;
    width: 83%;
    display: block;
}

/* inline element */
.c2{
    background-color: rgb(204, 204, 204);
    padding: 2%;
    margin: 2%;
    width: 83%;
    display: inline;
    /* visibility: hidden; */
}

.c3{
    background-color: rgb(90, 86, 143);
    padding: 2%;
    margin: 2%;
    width: 83%;
    display: inline-block;
    display: none;
}


